<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="http://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-300 bg-[url('cccccc.jpg')]">
    <header class="bg-gray-600 rounded-md  ">
      <nav class="flex justify-around pr-36">
        <img class="h-12  rounded-3xl min-w-32" src="gatoux.jfif" alt="" />
        <div class="flex ">
          <ul class=" flex items-center  gap-24 font-serif">
            <li>
              <a
                class="text-xl underline decoration-black hover:decoration-blue-800"
                href=""
                >Home</a
              >
            </li>
            <li>
              <a
                class="text-xl underline decoration-black hover:decoration-blue-800"
                href=""
                >Aks Me</a
              >
            </li>
            <li>
              <a
                class="text-xl underline decoration-black hover:decoration-blue-800 "
                href=""
                >Info</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="max-w-screen-lg mx-auto mb-5 bg-[url('yyyy.jpg')] shadow-2xl bg-whit rounded-lg">
      <h2 class="text-6xl text-center font-serif p-5  ">welcom to my cosein..</h2>
    </div>
    <section class="max-w-screen-lg  m-auto  rounded-2xl shadow-2xl grid grid-cols-3  pl-14 gap-5 bg- ">
      <div class="border-black hover:text-2xl shadow-2xl rounded-lg flex flex-col text-center">
        <img class="rounded-md" src="plt01.webp" alt="" />
        <a class="font-serif underline decoration-black text-2xl hover:text-3xl text-black hover:text-red-600"href="">Tarte aux pommes : la meilleure recette facile</a>

        <p class="font-serif">
         <i> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.</i>
        </p>
      </div>
      <div class="border-black shadow-2xl rounded-lg flex flex-col text-center">
        <img class="rounded-md"src="plat02.webp" alt="" />
       <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900"href="">Tarte aux pommes : la meilleure recette facile</h2>
        <p></a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
      <div class="border-black shadow-2xlrounded-lg flex flex-col text-center">
        <img class="rounded-md"src="plat04.webp" alt="" />
       <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900" href="">Tarte aux pommes : la meilleure recette facile</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
      <div class="border-black shadow-2xl  rounded-lg flex flex-col text-center">
        <img class="rounded-md" src="plat05.webp" alt="" />
        <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900" href="">Tarte aux pommes : la meilleure recette facile</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
      <div class="border-black shadow-2xl  rounded-lg flex flex-col text-center">
        <img class="rounded-md" src="plt01.webp" alt="" />
        <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900" href="">Tarte aux pommes : la meilleure recette facile</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
      <div class="border-black shadow-2xl  rounded-lg flex flex-col text-center">
        <img class="rounded-md" src="plat03.webp" alt="" />
       <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900" href="">Tarte aux pommes : la meilleure recette facile</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
      <div class="border-black shadow-2xl rounded-lg flex flex-col text-center">
        <img class="rounded-md" src="plat03.webp" alt="" />
       <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900" href="">Tarte aux pommes : la meilleure recette facile</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
      <div class="border-black shadow-2xl  rounded-lg flex flex-col text-center">
        <img class="rounded-md" src="plat03.webp" alt="" />
       <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900"href="">Tarte aux pommes : la meilleure recette facile</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
      <div class="border-black shadow-2xl rounded-lg flex flex-col text-center">
        <img class="rounded-md" src="plat03.webp" alt="" />
       <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900" href="">Tarte aux pommes : la meilleure recette facile</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
      <div class="border-black shadow-2xl  rounded-lg flex flex-col text-center">
        <img class="rounded-md" src="plat03.webp" alt="" />
       <a class="font-serif text-2xl hover:text-3xl text-black hover:text-red-900" href="">Tarte aux pommes : la meilleure recette facile</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
          saepe nulla! Quibusdam eaque obcaecati minima.
        </p>
      </div>
    </section>

    <script src="main.js"></script>
  </body>
</html>
